{
    "[blade]": {
        "editor.defaultFormatter": "onecentlin.laravel-blade"
    },
    "[css]": {
        "editor.defaultFormatter": "stylelint.vscode-stylelint"
    },
    "[html]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[javascript]": {
        "editor.defaultFormatter": "vscode.typescript-language-features"
    },
    "[json]": {
        "editor.defaultFormatter": "vscode.json-language-features"
    },
    "[jsonc]": {
        "editor.defaultFormatter": "vscode.json-language-features"
    },
    "[markdown]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[php]": {
        "editor.defaultFormatter": "bmewburn.vscode-intelephense-client"
    },
    "[scss]": {
        "editor.defaultFormatter": "stylelint.vscode-stylelint"
    },
    "[sql]": {
        "editor.defaultFormatter": "adpyke.vscode-sql-formatter"
    },
    "[vue]": {
        "editor.defaultFormatter": "Vue.volar"
    },
    "[yaml]": {
        "editor.defaultFormatter": "redhat.vscode-yaml",
        "editor.detectIndentation": false,
        "editor.insertSpaces": true,
        "editor.tabSize": 2
    },
    "blade.format.enable": true,
    "cSpell.allowCompoundWords": true,
    "cSpell.enableFiletypes": [
        "NGINX",
        "abnf",
        "apacheconf",
        "asciidoc",
        "asm-intel-x86-generic",
        "blade",
        "css",
        "dot",
        "editorconfig",
        "git-commit",
        "gradle",
        "handlebars",
        "html",
        "ini",
        "javascript",
        "json",
        "jsonc",
        "latex",
        "log",
        "makefile",
        "markdown",
        "php",
        "plaintext",
        "plantuml",
        "restructuredtext",
        "sass",
        "shellscript",
        "sql",
        "ssh_config",
        "text",
        "twig",
        "vue",
        "vue-html",
        "xml",
        "yaml",
        "yml"
    ],
    "cSpell.language": "en,ru",
    "css.validate": true,
    "debug.allowBreakpointsEverywhere": true,
    "debug.console.collapseIdenticalLines": false,
    "debug.console.fontSize": 16,
    "debug.inlineValues": "on",
    "debug.onTaskErrors": "showErrors",
    "debug.openDebug": "neverOpen",
    "debug.saveBeforeStart": "none",
    "debug.showBreakpointsInOverviewRuler": true,
    "debug.showInStatusBar": "never",
    "debug.showSubSessionsInToolBar": true,
    "debug.toolBarLocation": "docked",
    "diffEditor.ignoreTrimWhitespace": false,
    "docker.containers.description": [
        "ContainerName",
        "Ports",
        "Status"
    ],
    "editor.fontSize": 16,
    "editor.formatOnType": true,
    "editor.glyphMargin": false,
    "editor.linkedEditing": true,
    "editor.minimap.enabled": false,
    "editor.minimap.maxColumn": 600,
    "editor.minimap.scale": 3,
    "editor.parameterHints.cycle": true,
    "editor.renderWhitespace": "boundary",
    "editor.rulers": [
        {
            "color": "#00FFFF",
            "column": 80
        },
        {
            "color": "#ffff00",
            "column": 100
        },
        {
            "color": "#ff0000",
            "column": 120
        }
    ],
    "editor.scrollBeyondLastLine": false,
    "editor.semanticTokenColorCustomizations": {
        "enabled": true
    },
    "editor.suggest.snippetsPreventQuickSuggestions": false,
    "editor.unfoldOnClickAfterEndOfLine": true,
    "editor.unicodeHighlight.ambiguousCharacters": false,
    "editor.wordSeparators": "`~!@#%^&*()-=+[{]}\\|;:'\",.<>/?",
    "eslint.validate": [
        "javascript",
        "javascriptreact",
        "typescript",
        "typescriptreact",
        "vue",
        "html"
    ],
    "explorer.autoReveal": false,
    "explorer.enableDragAndDrop": false,
    "explorer.incrementalNaming": "smart",
    "explorer.openEditors.visible": 0,
    "files.exclude": {
        "**/dist": false
    },
    "files.hotExit": "onExitAndWindowClose",
    "files.trimTrailingWhitespace": true,
    "files.watcherExclude": {
        "**/dist/**": true,
        "**/node_modules/**": true,
        "**/vendor/**": true,
        "**/coverage/**": true
    },
    "fileutils.delete.useTrash": true,
    "flowide.enabled": false,
    "git-assistant.checkConfigVariables": "disabled",
    "git.confirmSync": false,
    "git.ignoreLegacyWarning": true,
    "git.showPushSuccessNotification": true,
    "gitlens.currentLine.enabled": false,
    "gitlens.hovers.currentLine.over": "line",
    "glassit.alpha": 231,
    "html.format.endWithNewline": true,
    "html.trace.server": "messages",
    "i18n-ally.displayLanguage": "ru",
    "intelephense.diagnostics.deprecated": false,
    "intelephense.diagnostics.typeErrors": false,
    "intelephense.diagnostics.undefinedFunctions": false,
    "intelephense.diagnostics.undefinedMethods": false,
    "intelephense.diagnostics.undefinedTypes": false,
    "javascript.updateImportsOnFileMove.enabled": "always",
    "less.validate": false,
    "markdown.preview.fontSize": 16,
    "markdown.preview.lineHeight": 1,
    "notebook.cellToolbarLocation": {
        "default": "right",
        "jupyter-notebook": "left"
    },
    "phan.enableCompletion": false,
    "phan.enableGoToDefinition": false,
    "phan.enableHover": false,
    "phan.unusedVariableDetection": true,
    "php-cs-fixer.executablePath": "${extensionPath}/php-cs-fixer.phar",
    "php-cs-fixer.lastDownload": 1688982805090,
    "php.suggest.basic": false,
    "phpcs.executablePath": "{{ .chezmoi.homeDir }}/.config/composer/vendor/bin/phpcs",
    "phpcs.showSources": true,
    "phpcs.standard": "PSR12",
    "problems.showCurrentInStatus": true,
    "pugbeautify.fillTab": false,
    "pugbeautify.tabSize": 2,
    "python.linting.pylintUseMinimalCheckers": false,
    "redhat.telemetry.enabled": false,
    "remote.SSH.remotePlatform": {
        "homestead": "linux",
        "idea": "linux",
        "idea-h": "linux",
        "jino": "linux"
    },
    "scm.alwaysShowActions": true,
    "scm.alwaysShowProviders": true,
    "scss.validate": true,
    "search.collapseResults": "alwaysCollapse",
    "search.enableSearchEditorPreview": true,
    "search.exclude": {
        "**/.idea": true,
        "**/dist/**": true,
        "**/node_modules/**": true,
        "**/public/**": true,
        "**/resources/assets/[vendors|scss|images|fonts|css]": true,
        "**/storage/[app|debugbar|download|framework]": true,
        "**/vendor/**[^laravel/**]": true
    },
    "search.followSymlinks": false,
    "search.quickOpen.includeHistory": false,
    "search.showLineNumbers": true,
    "settingsSync.keybindingsPerPlatform": false,
    "stylelint.validate": [
        "css",
        "scss"
    ],
    "task.problemMatchers.neverPrompt": {
        "npm": true
    },
    "terminal.integrated.allowChords": false,
    "terminal.integrated.commandsToSkipShell": [
        "workbench.action.closePanel",
        "workbench.action.terminal.scrollToPreviousCommand",
        "workbench.action.terminal.scrollToNextCommand",
        "workbench.action.positionPanelBottom",
        "workbench.action.positionPanelLeft",
        "workbench.action.positionPanelRight"
    ],
    "terminal.integrated.cursorStyle": "line",
    "terminal.integrated.defaultProfile.windows": "C:\\Program Files\\Git\\bin\\bash.exe",
    "terminal.integrated.enableBell": true,
    "terminal.integrated.fontSize": 16,
    "terminal.integrated.lineHeight": 0,
    "terminal.integrated.rendererType": "experimentalWebgl",
    "terminal.integrated.scrollback": 5000,
    "todohighlight.include": [
        "**/*.js",
        "**/*.vue",
        "**/*.html",
        "**/*.php"
    ],
    "typescript.format.enable": false,
    "vetur.format.defaultFormatter.js": "none",
    "vetur.useWorkspaceDependencies": true,
    "vscode-php-cs-fixer.rules": "@PSR1,@PSR2,@Symfony,-yoda_style,@PSR12",
    "window.closeWhenEmpty": true,
    "window.newWindowDimensions": "maximized",
    "window.title": "${dirty}${rootName} ${activeEditorMedium}",
    "workbench.commandPalette.preserveInput": true,
    "workbench.editor.highlightModifiedTabs": true,
    "workbench.editor.untitled.hint": "hidden",
    "workbench.editorAssociations": {
        "*.ipynb": "jupyter-notebook"
    },
    "workbench.quickOpen.preserveInput": true,
    "workbench.settings.openDefaultKeybindings": true,
    "workbench.startupEditor": "welcomePageInEmptyWorkbench",
    "xmlTools.enableXmlTreeView": false,
    "xmlTools.enableXmlTreeViewCursorSync": true,
    "xmlTools.splitAttributesOnFormat": true,
    "zenMode.centerLayout": false,
    "workbench.activityBar.visible": false,
    "[python]": {
        "editor.defaultFormatter": "ms-python.black-formatter",
        "editor.formatOnType": true
    },
    "keyboard.dispatch": "keyCode",
    "editor.fontFamily": "'OpenDyslexicMono-Regular', 'Noto Sans Mono Light', 'monospace', monospace",
    "[xml]": {
        "editor.defaultFormatter": "redhat.vscode-xml"
    },
    "phpcs.lintOnType": false,
    "phpcs.queueBuffer": 2,
    "screencastMode.onlyKeyboardShortcuts": true,
    "screencastMode.keyboardOverlayTimeout": 1200,
    "terminal.integrated.cursorBlinking": true,
    "markdown.validate.enabled": true,
    "files.associations": {
        ".Xresources": "NGINX",
        ".env": "dotenv"
    },
    "scm.inputFontSize": 18,
    "editor.scrollbar.horizontalScrollbarSize": 4,
    "editor.scrollbar.verticalScrollbarSize": 4,
    "files.maxMemoryForLargeFilesMB": 1024,
    "workbench.iconTheme": "material-icon-theme",
    "zenMode.hideTabs": false,
    "window.menuBarVisibility": "hidden",
    "laravel_goto_view.maxLinesCount": 888,
    "editor.folding": false,
    "window.zoomLevel": 2,
    "zenMode.fullScreen": false,
    "terminal.integrated.tabs.enabled": false,
    "editor.accessibilitySupport": "off",
    "arduino.useArduinoCli": true,
    "i18n-ally.sortKeys": true,
    "files.watcherInclude": [
        "**/vendor/laravel/**"
    ],
    "workbench.reduceMotion": "on",
    "workbench.sash.hoverDelay": 700,
    "[nginx]": {
        "editor.defaultFormatter": "raynigon.nginx-formatter"
    }
}
