! vim: set filetype=xdefaults :
! reload via `xrdb -merge ~/.Xresources`
! check via `xrdb -query`
*faceName: ComicShannsMono Nerd Font
*faceSize: 26
*reportFonts: true
*renderFont: true
Xcursor.theme: Chameleon-Pearl Large
Xcursor.size: {{ .cursor_size }}

Xft.dpi: {{ .dpi }}
Xft.hintstyle:  hintfull
Xft.antialias: 1
Xft.rgba: vbgr
