;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

[settings]
screenchange-reload = true
pseudo-transparency = false

[colors]
background = ${xrdb:background_argb}
background-alt = ${xrdb:background_alt_argb}
background-empty = ${xrdb:background_empty_argb}
foreground = ${xrdb:foreground}
primary = ${xrdb:color1}
secondary = ${xrdb:color4}
urgent = ${xrdb:color9}
disabled = ${xrdb:selection_background}
border = ${xrdb:color7}

; -------- Abstract Bars -------- ;
[bar/base]
monitor = ${env:MONITOR:}
width = 100%
height = 20pt
line-size = 1pt
module-margin = 1
border-size = 0
border-color = ${colors.border}
background = ${colors.background}
foreground = ${colors.foreground}
label-empty-background = ${colors.background-empty}
separator = |
separator-foreground = ${colors.disabled}
font-0 = "ComicShannsMono Nerd Font:size=14;3"
font-1 = Noto Color Emoji:scale=8
cursor-click = pointer
cursor-scroll = ns-resize
; enable-ipc = true

[bar/free]
override-redirect = true
height = 24pt
line-size = 0
border-size = 0
border-color = ${colors.border}
background = ${colors.background}
foreground = ${colors.foreground}
label-empty-background = ${colors.background-empty}
radius = 14
radius-top-left = 0.0
radius-top-right = 0.0
separator =
font-0 = "ComicShannsMono Nerd Font:style=Bold:size=16;4"
font-1 = "Noto Color Emoji:scale=7;3"
; enable-ipc = true

[bar/indicator]
override-redirect = true
width = 100pt
offset-x = 100%:-100pt
height = 28pt
background = ${colors.background}
padding = 0
line-size = 0
separator =
radius-top-left = 14
radius-top-right = 0
radius-bottom-left = 14
radius-bottom-right = 0
font-0 = "ComicShannsMono Nerd Font:size=16;3"
font-1 = Noto Color Emoji:scale=5;4
; enable-ipc = true

; -------- Bars -------- ;
[bar/top]
inherit = bar/base
vm-restack = i3
modules-left = pulseaudio rofi i3
modules-right = tray wlan cpu memory xkeyboard battery datetime

[bar/sound]
inherit = bar/free
width = 48pt
foreground = ${colors.primary}
label-empty-background = ${colors.background-empty}
border-right-size = 3pt
border-bottom-size = 3pt
radius-bottom-left = 0
modules-center = pulseaudio

[bar/i3]
inherit = bar/free
width = 300pt
# minus half of width
offset-x = 50%:-150pt
line-size = 3pt
border-left-size = 3pt
border-right-size = 3pt
border-bottom-size = 3pt
modules-left = output
modules-center = i3

[bar/i3-hdmi]
inherit = bar/i3
width = 300pt
offset-x = 100%:-300pt
line-size = 6pt
radius-bottom-right = 0

[bar/datetime]
inherit = bar/free
width = 360pt
offset-x = 50%:+260pt
border-left-size = 3pt
border-right-size = 3pt
border-bottom-size = 3pt
label-empty-background = ${colors.background-empty}
separator = " "
modules-center = date time-utc time-moscow

[bar/time]
inherit = bar/free
width = 72pt
offset-x = 100%:-70pt
border-left-size = 3pt
border-bottom-size = 3pt
radius-bottom-right = 0.0
label-empty-background = ${colors.background-empty}
separator =
font-0 = "ComicShannsMono Nerd Font:style=Bold:size=22;6"
modules-center = time

[bar/battery]
inherit = bar/free
width = 50pt
height = 24pt
offset-y = 100%:-24pt
label-empty-background = ${colors.background-empty}
line-size = 0
border-right-size = 3pt
border-top-size = 3pt
radius-top-right = 14
radius-bottom-left = 0
radius-bottom-right = 0
modules-center = battery-indicator

[bar/music]
inherit = bar/free
width = 60%
offset-x = 35%
height = 24pt
offset-y = 100%:-24pt
line-size = 0
padding = 0
radius-top-left = 14
radius-top-right = 14
radius-bottom-left = 0
radius-bottom-right = 0
font-0 = "ComicShannsMono Nerd Font:size=14;3"
font-1 = Noto Color Emoji:style=Bold:scale=7;2
font-2 = Noto Sans CJK JP:style=Bold:size=12;1
font-3 = Wuncon Siji:size=12;1
modules-center = music

[bar/heat]
inherit = bar/indicator
offset-y = 28%
modules-left = cpu-temp-indicator

[bar/memory]
inherit = bar/indicator
offset-y = 32%
modules-left = mem-free-indicator

; -------- Abstract Modules -------- ;
[module/network]
type = internal/network
interval = 10
format-connected = <ramp-signal><label-connected>
format-disconnected = <label-disconnected>
label-disconnected = %{F#7e8d50}%ifname%%{F#ac4142} disconnected
ramp-signal-0 = 😱
ramp-signal-1 = 😠
ramp-signal-2 = 😒
ramp-signal-3 = 😊
ramp-signal-4 = 😃
ramp-signal-5 = 👍

; -------- Modules -------- ;
[module/rofi]
type = custom/text
label = "🔍"
format-padding = 1
click-left = "~/.config/rofi/i3-mouse '{cmd}'"

[module/minify]
type = custom/text
content = "✨"
click-left = "~/.config/polybar/toggle-mini"

[module/maximize]
type = custom/text
content = "✨"
click-left = "~/.config/polybar/toggle-top"

[module/pulseaudio]
type = internal/pulseaudio
format-volume-prefix = "🎵"
format-volume-prefix-foreground = ${colors.primary}
format-volume = <label-volume>
format-volume-foreground = ${colors.primary}
label-volume = %percentage%
label-volume-foreground = ${colors.primary}
label-muted = "🔇"
label-muted-foreground = ${colors.disabled}

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock
label-layout = %layout%
label-layout-foreground = ${colors.primary}
label-indicator-padding = 0
label-indicator-margin = 0
label-indicator-foreground = ${colors.background}
label-indicator-background = ${colors.secondary}

[module/memory]
type = internal/memory
interval = 10
format-prefix = ""
format-prefix-foreground = ${colors.primary}
label = %free%

[module/cpu]
type = internal/cpu
interval = 10
format-prefix = ""
format-prefix-foreground = ${colors.primary}
label = %percentage:2%%

[module/wlan]
inherit = module/network
interface-type = wireless
label-connected = %signal%

[module/date]
type = internal/date
format = <label>
label = %date%
label-foreground = ${colors.primary}
date = %a %Y-%m-%d
time =
interval = 3600

[module/datetime]
type = internal/date
format = <label>
label = %date% %time%
label-foreground = ${colors.primary}
date = %a %Y-%m-%d
time = %H:%M
interval = 60

[module/time]
type = internal/date
format = <label>
label = %time%
label-foreground = ${colors.primary}
time = %H:%M
interval = 60

[module/time-utc]
type = custom/script
exec = TZ=Etc/UTC date +"UTC: %H:%M"
interval = 60

[module/time-moscow]
type = custom/script
exec = TZ=Europe/Moscow date +"MSC: %H:%M"
interval = 60

[module/music]
type = custom/script
exec = ~/.config/polybar/music
tail = true
format-padding = 1
click-left = kill -CONT %pid%
click-right = kill -USR1 %pid%
click-middle = sleep 0.5 && pkill -f -x 'polybar music'
double-click-left = kill -USR2 %pid%
scroll-up = pactl set-sink-volume @DEFAULT_SINK@ +1%
scroll-down = pactl set-sink-volume @DEFAULT_SINK@ -1%

[module/battery]
type = custom/script
exec = battery
interval = 60

[module/battery-indicator]
type = custom/script
exec = bash -c '~/.config/polybar/indicator-battery-real-percent monitor'
interval = 60
click-left = "pkill -f -x 'polybar battery'"

[module/cpu-temp-indicator]
type = custom/script
exec = bash -c '~/.config/polybar/indicator-cpu-temp {{ .temperature_sensor }}'
interval = 3
click-left = "pkill -f -x 'polybar heat'"

[module/mem-free-indicator]
type = custom/script
exec = ~/.config/polybar/indicator-mem-free
interval = 3
click-left = "pkill -f -x 'polybar memory'"

[module/output]
type = custom/script
exec-if = "[[ $(polybar -m | wc -l) > 1 ]]"
exec = ~/.config/polybar/watch-i3-output
tail = true
format-padding = 1
click-left = i3-msg -t command 'focus output left'
click-right = i3-msg -t command 'focus output right'
scroll-up = i3-msg -t command 'focus output left'
scroll-down = i3-msg -t command 'focus output right'

[module/i3]
type = internal/i3
index-sort = true
format = <label-state> <label-mode>
label-focused = %name%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 1
label-unfocused = %name%
label-unfocused-padding = 1
label-visible = %name%
label-visible-underline = ${colors.secondary}
label-visible-padding = 1
label-urgent = %name%
label-urgent-background = ${colors.urgent}
label-urgent-padding = 1

[module/tray]
type = internal/tray
tray-size = 100%
tray-spacing = 2pt

; vim:ft=dosini
